
body{
    background: white;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.landing-page {
    display:flex;
    flex-direction: column;
}
    
.game-name{
    color: #f7cfc8;
  font-family: "Luckiest Guy", cursive;
  font-size: 180px;
  letter-spacing: 10px;
    opacity:1;
    font-size: 5em;
    margin-bottom: 3rem;
    text-shadow: -6px -6px #4d84c8, -5px -5px #4d84c8, -4px -4px #4d84c8, -3px -3px #4d84c8, -2px -2px #4d84c8, -1px -1px #4d84c8, 1px 1px #4d84c8, 2px 2px #4d84c8, 3px 3px #4d84c8, 4px 4px #4d84c8, 5px 5px #4d84c8, 6px 6px #4d84c8, 7px 7px #4d84c8, 8px 8px #4d84c8, 9px 9px #4d84c8, 10px 10px #4d84c8, 11px 11px #4d84c8, 12px 12px #4d84c8, 13px 13px #4d84c8, 14px 14px #4d84c8, 15px 15px #4d84c8, 16px 16px #4d84c8, 17px 17px #4d84c8, 18px 18px #4d84c8, 19px 19px #4d84c8, 20px 20px #4d84c8, 21px 21px #4d84c8, 22px 22px #4d84c8, 23px 23px #4d84c8, 24px 24px #4d84c8, 25px 25px #4d84c8, 26px 26px #4d84c8, 27px 27px #4d84c8, 25px 25px #4d84c8, 28px 28px #4d84c8, 29px 29px #4d84c8, 30px 30px #4d84c8, 31px 31px #4d84c8, 32px 32px #4d84c8, 33px 33px #4d84c8, 34px 34px #4d84c8, 35px 35px #4d84c8, 36px 36px #4d84c8, 37px 37px #4d84c8, 38px 38px #4d84c8, 39px 39px #4d84c8, 40px 40px;
  width: 100%;
}
.startgame{
  display: block;
    transform: scale(1);
    transition: all 0.5s ease 0s;
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    color:#f18a78;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 2px;
    background: linear-gradient(to right, var(--red) 60%, var(--gray) 100%);
}
.startgame:hover {
    filter: brightness(40%);}

.box {
   background: gainsboro;
      border: black 1px solid;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      margin-top: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      float:left;
      font-weight: 200;
      font-size: xx-large;
    }
.row {
      display: block;
      float:left;
      width:100%;
  }
 .startover{
   display:none;
   justify-content: center;
   margin-bottom: 15px;
   color: cornflowerblue;
   background-color:#f18a78; 
   border:none;
   cursor: pointer;
   background-color: white;
   font-size: 1rem;
    font-weight: 800;
    font-family: "Luckiest Guy", cursive;
 } 
 .startover:hover{
  font-size: 2rem;
 }